<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title> <!--заголовок страницы -->
</head>
<body>

<h1>Список пользователей</h1><!--заголовок 1 уровня -->

<table border="1"> <!--таблица с рамкой толщиной 1 пиксель  -->
    <thead><!--секция заголовка  -->
    <tr><!--строка-->
        <th>ID</th><!--ячейка -->
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Возраст</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}"><!--тело таблицы --цикл таймлифа -->
        <td th:text="${user.id}">1</td><!--ячейка всталяется значение вместо текста 1 -->
        <td>
            <a th:href="@{/users/{id}(id=${user.id})}" th:text="${user.firstName}">Имя</a><!--создает ссылку, вставляет имя-->
        </td>
        <td th:text="${user.lastName}">Фамилия</td><!--ячейка -->
        <td th:text="${user.age}">возраст</td><!--ячейка -->
        <td>
            <a th:href="@{/users/{id}/edit(id=${user.id})}">Изменить</a><!--кнопка, переход на форму -->
            |
            <a th:href="@{/users/{id}/delete(id=${user.id})}"
               onclick="return confirm('Удалить пользователя?')">Удалить</a><!--кнопка -->
        </td>
    </tr>
    <tr th:if="${users.isEmpty()}">
        <td colspan="5" align="center">Нет пользователей</td><!--обединяет 5 ячеек в 1, выравнивание-->
    </tr>
    </tbody>
</table>

<br/>
<a href="/users/new">Добавить пользователя</a><!--кнопка -->

</body>
</html>