<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><!-- шапка страницы-->
  <meta charset="UTF-8">
  <title>Детали пользователя</title> <!-- заголовок на вкладке -->
</head>
<body>

<h1>Информация о пользователе</h1><!--заголовок страницы-->

<p><strong>ID:</strong> <span th:text="${user.id}">1</span></p><!-- абзац жирный текст span-контейнер вставлять вместо 1-->
<p><strong>Имя:</strong> <span th:text="${user.firstName}">Имя</span></p>
<p><strong>Фамилия:</strong> <span th:text="${user.lastName}">Фамилия</span></p>
<p><strong>Возраст:</strong> <span th:text="${user.age}">Возраст</span></p>

<h2>Адрес</h2>

<div th:if="${user.address != null}">
  <p><strong>Город:</strong> <span th:text="${user.address.city}">Город</span></p>
  <p><strong>Улица:</strong> <span th:text="${user.address.street}">Улица</span></p>
  <p><strong>Дом:</strong> <span th:text="${user.address.house}">Дом</span></p>
</div>

<div th:unless="${user.address != null}">
  <p>Адрес не указан</p>
</div>

<br/>
<a href="/users">Назад к списку</a>
|
<a th:href="@{/users/{id}/edit(id=${user.id})}">Редактировать</a>

</body>
</html>